
:root {
    --play1: #FFEADC;
    --play2: #FFEADC;
}

#p2 > img {
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
       margin-right: 30px;

        
}

#p1 > img {
    margin-right: 30px;
}

#p1 > img, #p2 > img {
    height: 150px;
    border: 4px solid black
}

#contain {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#rand {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#rand > button {
    height: 40px;
    width: 330px;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      var(--play1) 0%,
      var(--play1) 50%,
      var(--play2) 50%,
      var(--play2) 100%
    );
  }



#in {
    text-align: center;
}

.vs {
    text-transform: capitalize;
    text-align: center;
}

