* {
    padding: 0%;
    margin: 0%;
}

:root {
    --play1: #d6de73;
    --play2: #f9db73;
}

#p2 > img {
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
       margin-left: 30px !important;

        
}

#p1 > img {
    margin-right: 30px !important;
}

#p1 > img, #p2 > img {
    height: 150px;
    border: 4px solid black
}

#contain {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#rand {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 47vh;
}

#rand > button {
    height: 40px;
    width: 330px;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      var(--play1) 0vw,
      var(--play1) 50vw,
      var(--play2) 50vw,
      var(--play2) 110vw
    );
  }



#in {
    text-align: center;
}

.vs {
    text-transform: capitalize;
    text-align: center;
}

a {
  color: blue !important;
  text-decoration: underline !important;
}

a:hover {
    color: darkslateblue !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}
